In [1]:
#!/bin/python3

##########################
# Author: Molly Brothers
# Github: mollybrothers
# Date: 11/18/2020
##########################

# This script uses an input sequencing_summary.txt file from a guppy basecalling run to find the read_ids
# that have a mean_qscore_template < 7 and generate a list of those read_ids.
# Then, it reads through the per_read_modified_base_calls.txt file from a megalodon output and filters out
# any lines corresponding to those read_ids

In [17]:
import numpy as np
import pandas as pd

#edit for the chromosome file you want to import for per_read filtering
chrom = "/Volumes/brothers_seq/Nanopore/201012_Doudna/201012_Doudna_megalodon_outputv2/chrIII.txt"

In [14]:
#import sequencing_summary.txt using pandas
summary_df = pd.read_table("/Volumes/brothers_seq/Nanopore/201012_Doudna/201012_Doudna_megalodon_outputv2/sequencing_summary.txt",
                         usecols = ['read_id', 'mean_qscore_template'])
summary_df.head()

                                read_id  mean_qscore_template
0  de5e24ee-1bcf-40e9-943e-c1fc10b310ab             16.287013
1  ba0f1c72-5dee-41ce-99ce-2703dbeff727             15.639566
2  71b910e2-265b-4515-b15a-755e8bf1ed5c             13.114357
3  46e7b444-a95f-4800-ab11-12f6e19e8e9f             16.739033
4  29b4e9d8-1ba5-4deb-b5a6-1aa0a559de98             16.686282

In [16]:
#If mean_qscore_template is < 9, filter out
bad_reads = summary_df[summary_df['mean_qscore_template'] <= 9]
#bad_reads.head(24)
#print(summary_df.shape)
#print(bad_reads.shape)

(154840, 2)
(154840, 2)

In [23]:
# import per_read_modified_base_calls.txt as a data frame
per_read = pd.read_table(chrom, usecols = [0, 1, 3, 4], names = ('read_id', 'chrm', 'pos', 'mod_prob'))
per_read.head(10)

                                read_id chrm     pos  mod_prob
0  ef9145de-e651-4655-b08b-557ee2751837  III  161750 -2.074033
1  ef9145de-e651-4655-b08b-557ee2751837  III  161755 -1.867569
2  ef9145de-e651-4655-b08b-557ee2751837  III  161756 -1.998869
3  ef9145de-e651-4655-b08b-557ee2751837  III  161761 -2.422728
4  ef9145de-e651-4655-b08b-557ee2751837  III  161762 -2.422728
5  ef9145de-e651-4655-b08b-557ee2751837  III  161763 -1.867569
6  ef9145de-e651-4655-b08b-557ee2751837  III  161764 -1.867569
7  ef9145de-e651-4655-b08b-557ee2751837  III  161769 -3.043311
8  ef9145de-e651-4655-b08b-557ee2751837  III  161773 -2.100447
9  ef9145de-e651-4655-b08b-557ee2751837  III  161774 -2.025571

In [7]:
# read each line. If read_id matches any read_id in the read_ids to filter out (text file made above),
# get rid of that line

In [8]:
# save the new array as per_read_modified_base_calls_filteredQ7.txt