In [1]:
#!/bin/python3

##########################
# Author: Molly Brothers
# Github: mollybrothers
# Date: 11/18/2020
##########################

# This script uses an input sequencing_summary.txt file from a guppy basecalling run to find the read_ids
# that have a mean_qscore_template < 7 and generate a list of those read_ids.
# Then, it reads through the per_read_modified_base_calls.txt file from a megalodon output and filters out
# any lines corresponding to those read_ids

In [9]:
import numpy as np
import pandas as pd

In [33]:
# import sequencing_summary.txt using pandas
summary_df = pd.read_csv("~/sequencing/201012_Doudna/sequencing_summary.txt", sep = '\t', usecols = ['read_id', 'mean_qscore_template'])
summary_df.head(24)

                                 read_id  mean_qscore_template
0   de5e24ee-1bcf-40e9-943e-c1fc10b310ab             16.287013
1   ba0f1c72-5dee-41ce-99ce-2703dbeff727             15.639566
2   71b910e2-265b-4515-b15a-755e8bf1ed5c             13.114357
3   46e7b444-a95f-4800-ab11-12f6e19e8e9f             16.739033
4   29b4e9d8-1ba5-4deb-b5a6-1aa0a559de98             16.686282
5   4cc10e78-dda5-487d-a8d9-ba4e1d3a1e1d             11.278949
6   3a1f6214-6d02-4ae9-ad9b-5197f75bdfc1             11.910426
7   7a8dfd9c-c21a-4ee2-abe7-1f9ed3c61ff9             16.144893
8   3402292e-2e0e-47a3-b381-fc64c53f5823             11.918116
9   95406a7e-6f53-411f-a4de-6c4407381316             13.740885
10  a9a11010-8278-405c-b578-f8e8498c2850             14.213966
11  f5731d4b-2b84-433f-bec7-0e89ed7c1c87             16.854184
12  8e12ffe3-5ba6-4aaa-8e9c-648262fed10a             15.219567
13  a3103933-994b-4236-8510-d8b9f3f4e216             12.969549
14  a9abc7c2-776d-4090-ac31-380ea7203b69              6.997826
15  ba0df309-8188-44d6-9b71-d19b83b4724b             15.871056
16  8786f39e-a85d-42de-8f49-0bcf9b35bcd5             16.131967
17  ebc6922a-2761-4026-a21b-8e072f262fc1             16.769409
18  f2dc5bf2-4c6e-44ef-9a22-e789d7469b0e             14.636782
19  1f0d413b-6e4c-42b1-a91a-2eb8b9c7ebc4             15.370581
20  5b361762-8380-4fdb-ae2d-25a7e997a3f5             16.828079
21  301b7d33-f012-4359-a97c-3ec5e7a3358f             15.680018
22  255dbb43-ffb6-44ee-8fd0-d95c1165885e             17.341115
23  279be9d5-939a-4d25-8497-f22c890707b8             15.050657

In [36]:
# If mean_qscore_template is < 7, filter out
summary_filteredQ7 = summary_df[summary_df['mean_qscore_template'] <= 7]
# summary_filteredQ7.head(24)
# print(summary_df.shape)
# print(summary_filteredQ7.shape)

(2000000, 2)
(95386, 2)

In [6]:
# import per_read_modified_base_calls.txt as a data frame
per_read = pd.read_csv("/Volumes/brothers_seq/Nanopore/201012_Doudna/megalodon_outputv2/per_read_modified_base_calls.txt", sep = '\t', 
                       usecols = ['read_id', 'pos', 'mod_log_prob'])

In [7]:
# read each line. If read_id matches any read_id in the read_ids to filter out (text file made above),
# get rid of that line

In [8]:
# save the new array as per_read_modified_base_calls_filteredQ7.txt